# Configuration de la base de données PostgreSQL
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password
POSTGRES_DB=minecraft-stats
DATABASE_URL=postgres://my_user:my_password@localhost:5432/minecraft-stats

# Configuration de l'API REST
LISTEN_PORT=8080
API_BASE_URL=https://api.mc-stats.fr

# Configuration de l'authentification Clerk (Backend & Frontend)
CLERK_URL=https://your-clerk-url.clerk.accounts.dev
CLERK_SECRET_KEY=sk_test_your_secret_key
VITE_CLERK_PUBLISHABLE_KEY=pk_test_your_publishable_key

# URL de l'API pour le Frontend
VITE_API_URL=http://localhost:8080

# Notifications Web Push (VAPID)
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
VAPID_MAILTO=your_email@example.com

# Autres configurations (ex: Grafana, Worker...)
GRAFANA_PASSWORD=your_grafana_password
