# Variables pour Docker Compose
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password
POSTGRES_DB=minecraft-stats

# URL complète de connexion pour les services
DATABASE_URL=postgres://my_user:my_password@postgres:5432/minecraft-stats

# Configuration Clerk
CLERK_URL=https://your-clerk-url.clerk.accounts.dev
CLERK_SECRET_KEY=sk_test_your_secret_key

# Port et Base de l'API
LISTEN_PORT=8080
API_BASE_URL=https://api.mc-stats.fr

# Notifications Web Push (VAPID)
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
VAPID_MAILTO=your_email@example.com

# Identifiants Grafana
GRAFANA_PASSWORD=my_grafana_password

# Variables Frontend (Vite)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_your_publishable_key
VITE_API_URL=http://localhost:8080
